/* ################## */
/* ### VARIABLES  ### */
/* ################## */

/* https://github.com/catppuccin/nvim/blob/main/lua/catppuccin/palettes/mocha.lua */
:root {
	--rosewater: #f4dbd6;
	--flamingo: #f0c6c6;
	--pink: #f5bde6;
	--mauve: #c6a0f6;
	--red: #ed8796;
	--maroon: #ee99a0;
	--peach: #f5a97f;
	--yellow: #eed49f;
	--green: #a6da95;
	--teal: #8bd5ca;
	--sky: #91d7e3;
	--sapphire: #7dc4e4;
	--blue: #8aadf4;
	--lavender: #b7bdf8;
	--text: #cad3f5;
	--subtext1: #b8c0e0;
	--subtext0: #a5adcb;
	--overlay2: #939ab7;
	--overlay1: #8087a2;
	--overlay0: #6e738d;
	--surface2: #5b6078;
	--surface1: #494d64;
	--surface0: #363a4f;
	--base: #24273a;
	--mantle: #1e2030;
	--crust: #181926;
	--off-white: #F2E9EA;
}

/* ################## */
/* ### CSS STYLES ### */
/* ################## */

/* https://codepen.io/P1N2O/pen/pyBNzX */
html, body {
        font-family: sans-serif;
	min-height: 100vh;
        background-color: var(--off-white); /* off-white */
        padding: 0;
        margin: 0;
        flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6, .term-tab-btn, .term-tab-btn .text, .certs-card .text, .carousel-sidebar, .carousel-body {
	margin: 0 0;
	padding: 0 0;
}

li {
	margin: 0 0 15px 0;
}

html, body, .intro, #intro-text, .certs, .projects, .term-bar, .term-bar #gallery-text, .term-tab, .term-tab-btn, .certs-card, .certs-card .text, .carousel-body, .carousel-picture, .carousel-synopsis, .carousel-btn-bar, .flip {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro, .certs, .projects {
	height: 100vh;
	width: 100vw;
}

#intro-text, .term, .term-bar, .term-bar #gallery-text, .term-body, .term-tab-btn, .certs-card, .certs-card img, .carousel-sidebar, .carousel-body, .carousel-btn, .carousel-picture, .carousel-picture img, .carousel-picture audio, .carousel-synopsis, .carousel-btn-bar {
	height: 100%;
	width: 100%;
}

.intro { 
	background: linear-gradient(#5d6bef, var(--lavender), var(--off-white));
	background-position: 100% 100%;
	background-size: 200% 200%;
	flex-direction: column;
	animation: gradient 10s ease 1;
}

#intro-text {
	text-align: center;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
	visibility: hidden;
	position: absolute;
	bottom: 90%;
	width: 90% !important;
	color: #fff;
	background-color: var(--crust);
	border-radius: 6px;
	text-align: center;
	padding: 5px 0;
	margin: 15px 0;
}

/* https://www.w3schools.com/csS/css3_shadows_box.asp */
.term {
	height: 70% !important;
	width: 80% !important;
	background: var(--base);
	border-radius: 25px 25px 0px 0px;
	box-shadow: 0 4px 8px 0 var(--mantle), 0 6px 20px 0 var(--mantle); 
}
                    
.term-bar {
	height: 7% !important;
	color: var(--off-white);
	background: var(--crust);
	border-radius: 25px 25px 0px 0px;
}

.term-bar #gallery-text {
	overflow: hidden;
}

.term-body {
	height: 90% !important;
	width: 96% !important;
	font-family: monospace;
	color: var(--off-white);
	padding: 0 2% 0 2%;
	margin: 1% 0;
	overflow-wrap: break-word;
	overflow-y: scroll;
}
                    
.term-tab {
	width: 15%;
	margin: 0 2% 0 2%;
}

.term-tab-btn {
	color: var(--off-white);
	background: var(--crust);
	border: none;
	cursor: pointer;
	animation: shrink-tab-btn 10s ease 1;
}

.term-tab-btn:hover {
	color: white;
}

.term-tab-btn .text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.certs {
	animation: expand 11s ease 1 forwards;
}

/* https://www.w3schools.com/csS/css3_shadows_box.asp */
.certs-card {
	height: 60% !important;
	width: 25% !important;
	background-color: white;
	margin: 0 3%;
	justify-content: start !important;
	flex-direction: column;
	border: 1px solid var(--base);
	box-shadow: 0 6px 12px 12px var(--flamingo), 0 8px 22px 0 var(--flamingo); 
}

.certs-card img {
	height: 60% !important;
	width: 80% !important;
	margin: 0 10% 10% 10%;
}

.certs-card .text {
	width: 100%;
	color: var(--base);
	text-align: center;
}

.projects {
	background: linear-gradient(var(--off-white), var(--lavender), #5d6bef);
	animation: expand 15s ease 1 forwards;
}

.carousel-sidebar {
	width: 5% !important;
	margin: 0 .2% !important;
}

.carousel-body {
	width: 90% !important;
	flex-direction: column;
}

.carousel-btn {
	font-size: 48px;
	color: var(--surface0);
	background-color: var(--surface2);
	border: none;
	transition: color 0.5s, background-color 0.5s;
}

.carousel-btn:hover {
	background-color: var(--overlay0);
	color: var(--off-white);
}

.carousel-picture {
	height: 90% !important;
}

.carousel-picture img, .carousel-picture audio, .carousel-synopsis {
	height: 80% !important;
	width: 45% !important;
	margin: 0 auto;
}

.carousel-synopsis {
	overflow-wrap: break-word;
	overflow-y: hidden;
}

.carousel-btn-bar {
	height: 10% !important;
}

.carousel-btn-bar input[type="radio"] {
	appearance: none;
	outline: none;
	height: 1.5rem;
	width: 1.15rem;
	font: inherit;
	background: var(--off-white);
	border: 0.15em solid var(--surface2);
	border-radius: 33%;
	box-sizing: border-box;
	margin: 0 1%;
	padding: 0;
	transition: border-color 0.2s, background-color 0.2s;
}

.carousel-btn-bar input[type="radio"]:checked {
	border-color: var(--off-white);
	background-color: var(--surface2);
	background-clip: content-box;
}

/* https://dev.to/afif/a-multi-line-css-only-typewriter-effect-3op3 */
.type {
	font-family: monospace;
	color: #0000; /* transparent */
	background:
		linear-gradient(-90deg, var(--base) 5px, #0000 0) 10px 0, /* type cursor */
		linear-gradient(var(--text-color, var(--off-white)) 0 0) 0 0; /* text color */
	background-clip: padding-box, text;
	background-repeat: no-repeat;
	background-size: calc(var(--n)*1ch) 200%;
	animation: 
		/* b .7s infinite steps(1), */ 
		t calc(var(--n)*var(--time, .008s)) steps(var(--n)) forwards;
}

.invisible {
	color: var(--base) !important;
	background-color: var(--base) !important;
}

.flip {
	color: var(--text-color, var(--red));
	text-decoration: underline var(--text-color, var(--red));
	margin: 15px 0;
	flex-direction: row;
}

.flip .text {
	backface-visibility: hidden;
	animation: flip var(--time) linear 1 forwards;
}

.inline-code {
	color: var(--base);
	background-color: var(--subtext0);
}

.code-block {
	background-color: var(--crust);
	border: 2px groove var(--crust);
	border-radius: 5px;
	padding: 10px 5px;
}

.code-indent, .code-tag, .code-comment {
	color: var(--green);
}

.code-indent {
	margin: 10px 0;
}

.code-tag {
	display: inline-block; 
	width: 90%; 
	text-align: right;
}


/* ########################### */
/* ### ANIMATION KEYFRAMES ### */
/* ########################### */

@keyframes gradient {
	0% { background-position: 100% 100%; }
	50% { background-position: 100% 0%; }
	100% { background-position: 100% 100%; }
}

@keyframes pop {
	0% { opacity: 0; border-radius: 0px 0px 0px 0px; transform: scale(0.1, 0.1); }
	80% { opacity: 1; border-radius: 0px 0px 0px 0px; transform: scale(1.1, 1.1); }
	100% { opacity: 1; border-radius: 25px 25px 0px 0px; transform: scale(1, 1); }
}

@keyframes shrink-tab {
	0% { width: 100%; }
	50% { width: 100%; }
	100% { width: 15%; }
}

@keyframes shrink-tab-btn {
	0% { justify-content: center; }
	75% { justify-content: center; }
	100% { justify-content: flex-start; }
}

@keyframes unhide-tab {
	0% { width: 0; margin: 0 0; }
	90% { width: 0; margin: 0 0; }
	100% { width: 15%; margin: 0 2% 0 2%; }
}

@keyframes typing {
	0% { width: 0; white-space: nowrap; margin: 0 100% 0 0; }
	90% { width: 100%; white-space: nowrap; margin: 0 0; }
	100% { width: 100%; white-space: wrap; margin: 0 0; }
}

@keyframes blink-caret {
	from, to { color: var(--base); background-color: var(--base); }
	50% { color: var(--mauve); background-color: var(--mauve); }
}

@keyframes flip {
	from { transform: rotateY(180deg); }
	to { transform: rotateY(0deg); }
}

@keyframes t {
  	from { background-size:0 200%; }
}

@keyframes b { 
	50% { background-position:0 -100%, 0 0; } 
}

@keyframes jump {
	0% { transform: scale(0) translateY(0); opacity: 0.0; }
	80% { transform: scale(0) translateY(0); opacity: 0.0; }
	90% { transform: scale(1.1) translateY(-5rem); opacity: 0.7; }
	100% { transform: scale(1) translateY(0); opacity: 1.0; }
}

@keyframes expand {
	0% { height: 0px; }
	90% { height: 0px; }
	100% { height: 100vh; }
}
